header{
  text-align: center;
  margin-bottom: 5px;
}
.container{
  text-align: center;
}
.test{
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  width: 18rem;
  margin: 10px;
}
button{
  margin-top: 5px;
}

img{
  height: 350px;
}
ul{
  text-align: start;
}